<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>

        <header>
            {{- partial "header.html" . -}}
        </header>
        <div id="sub">
            {{- partial "sidebar.html" . -}}
        </div>
        <div id="mainBlock" onmousedown="toggleMenu(false)">
            {{ if .Site.Params.BannerContents }}
            <div id="attention"><i class="ri-error-warning-line"></i><p>{{ .Site.Params.BannerContents | safeHTML }}</p></div>
            {{ end }}
            <main>
                {{- block "main" . }}{{- end }}
            </main>
            {{- partial "footer.html" . -}}
        </div>
    </body>
</html>
